body{
	font-family: sans-serif;
}

*{
	margin: 0;
}

/*------------------------------*/

#header{
	background: #f37000;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 100;
}

#header .logo{
	padding-top: 10px;
	padding-bottom: 10px;
}

#header .header_email{
	height: 35px;
	margin-left: 20px;
	padding-left: 10px;
	border-radius: 4.9px;
	border: none;
}

#header .header_password{
	height: 35px;
	margin-left: 10px;
	padding-left: 10px;
	margin-right: 75px;
	border-radius: 4.9px;
	border: none;
}

#header .header_login{
	width: 75px;
	height: 35px;
	background: none;
	font-size: 14px;
	font-weight: bold;
	color: white;
	border: 2px solid white;
	margin-left: 75px;
	transition: 0.3s;
}

#header .header_sign-in{
	width: 75px;
	height: 35px;
	background: none;
	font-size: 14px;
	font-weight: bold;
	color: white;
	border: 2px solid white;
	margin-left: 10px;
	transition: 0.3s;
}

#header .header_login:hover{
	background: white;
	box-shadow: red 0.00001px 0.00001px 20px 0.00001px;
	color: #f37000;
}

#header .header_sign-in:hover{
	background: white;
	box-shadow: red 0.00001px 0.00001px 20px 0.00001px;
	color: #f37000;
}

#header a{
	text-decoration: none;
}

#header li{
	display: inline;
	margin-left: 18px;
	font-weight: bold;
	color: white;
	transition: 0.3s;
}

#header li:hover{
	font-size: 22px;
}

/*------------------------------*/

#footer{
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer .main_content{
	color: white;
	opacity: 0.8;
	font-size: 10px;
	margin-left: 20px;
}

/*------------------------------*/

#intro-section{
	height: 650px;
	background: url(1st_section_background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#intro-section .main_heading{
	text-align: center;
	padding-top: 86px;
	font-size: 65px;
	color: white;
}

#intro-section .BeWelcome_button{
	height: 60px;
	background: #f37000;
	font-size: 17px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	font-weight: bolder;
	border-radius: 5px;
	border: none;
	box-shadow: black 1px 1px 30px 2px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	justify-content: center;
}

#intro-section .main_content{
	text-align: center;
	color: white;
	opacity: 0.9;
	font-size: 17px;
	line-height: 22px;
}

#intro-section a{
	display: flex;
	align-items: center;
	justify-content: center; 
	text-decoration: none;
}

/*------------------------------*/

#about{
	background: rgb(255, 136, 0);
	color: white;
	height: 625px;
}

#about .main_heading{
	font-size: 53px;
	text-align: center;
	border-top: 5px solid white;
	border-bottom: 5px sol white;
	padding-top: 50px;
	font-weight: bold;
}

#about #BeWelcome_section{
	display: flex;
	align-items: center;
	justify-content: center;
}

#about #BeWelcome_section .BeWelcome_parts{
	width: 300px;
	height: 350px;
	margin-left: 20px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	margin-top: 50px;
	transition: 0.25s;
}

#about #BeWelcome_section .BeWelcome_parts .fa-handshake{
	margin-left: 110px;
	margin-top: 50px;
}

#about #BeWelcome_section .BeWelcome_parts .fa-exchange-alt{
	margin-left: 116.8px;
	margin-top: 50px;
}

#about #BeWelcome_section .BeWelcome_parts .fa-home{
	margin-left: 115px;
	margin-top: 50px;
}

#about #BeWelcome_section .BeWelcome_parts .fa-heart{
	margin-left: 118px;
	margin-top: 50px;
}

#about #BeWelcome_section .BeWelcome_parts p{
	font-weight: bold;
	text-align: center;
	font-size: 25px;
	margin-top: 30px;
}

#about #BeWelcome_section .BeWelcome_parts:hover{
	color: rgb(255, 136, 0);
	background: white;
	box-shadow: white 2px 2px 60px 1px;
}

#about #BeWelcome_section .BeWelcome_parts .description{
	font-size: 15px;
	font-weight: 100;
	line-height: 25px;
}

/*------------------------------*/

#guests-section{
	height: 650px;
	background: url(2nd_section_background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#guests-section .main_heading{
	text-align: center;
	padding-top: 220px;
	font-size: 65px;
	color: white;
}

/*------------------------------*/

#statistics-section{
	background: rgb(255, 136, 0);
	color: white;
	height: 500px;
	border-top: 4.5px solid white;
}

#statistics-section .main_heading{
	font-size: 60px;
	text-align: center;
	border-top: 5px solid white;
	border-bottom: 5px sol white;
	padding-top: 50px;
	font-weight: bold;
}

#statistics-section #statistics_parts-section{
	display: flex;
	justify-content: center;
	align-items: center;
}

#statistics-section .statistics_parts{
	width: 200px;
	height: 250px;
	margin-top: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 40px;
	color: white;
	transition: 0.25s;
}

#statistics-section .statistics_parts p{
	font-size: 40px;
	margin-top: 30px;
	font-weight: bold;
}

#statistics-section .statistics_parts .content{
	font-size: 20px;
	margin-top: 20px;
	font-weight: normal;
}

#statistics-section .statistics_parts:hover{
	color: rgb(255, 136, 0);
	background: white;
	box-shadow: white 2px 2px 60px 1px;
}

#statistics-section .statistics_part{
	margin-left: 40px;
}

/*------------------------------*/

#Broadcast{
	height: 700px;
	background: url(3rd_section_background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#Broadcast .main_heading{
	text-align: center;
	padding-top: 220px;
	font-size: 65px;
	color: white;
}

#Broadcast .content{
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	color: white;
	opacity: 0.86;
}

#Broadcast .broadcast_login{
	width: 200px;
	height: 70px;
	background: rgb(255, 136, 0);
	font-size: 20px;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	margin-left: 75px;
	transition: 0.3s;
	margin-top: 20px;
}

#Broadcast .broadcast_sign-in{
	width: 200px;
	height: 70px;
	background: rgb(255, 136, 0);
	font-size: 20px;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	margin-left: 75px;
	transition: 0.3s;
	margin-top: 20px;
}

#Broadcast .broadcast_login:hover{
	background: white;
	box-shadow: red 0.00001px 0.00001px 20px 0.00001px;
	color: #f37000;
}

#Broadcast .broadcast_sign-in:hover{
	background: white;
	box-shadow: red 0.00001px 0.00001px 20px 0.00001px;
	color: #f37000;
}